<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link" style="background-color:yellowgreen;">
        {# <i class="nav-icon fas fa-th"></i> #}
        <i class="nav-icon fas fa-cubes"></i>
        <p>
            Categorie
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview sous-menu-sidebar-left">
        <li class="nav-item">
            <a href="{{path('category_add')}}" class="nav-link">
                <i class="nav-icon fas fa-plus-circle"></i>
                <p>Ajouter Categorie</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{path('category')}}" class="nav-link">
                <i class="fas fa-list-alt"></i>
                <p>Listes des categories</p>
            </a>
        </li>
    </ul>
</li>