<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link" style="background-color:yellowgreen;">
        <i class="nav-icon fas  fa-stethoscope"></i>
        <p>
            Laboratoire
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview sous-menu-sidebar-left">
        <li class="nav-item">
            <a href="{{path('add_laboratory')}}" class="nav-link">
                <i class="nav-icon fas fa-plus-circle"></i>
                <p>Ajouter Laboratoire</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{path('laboratory')}}" class="nav-link">
                <i class="fas fa-list-alt"></i>
                <p>Listes des laboratoires</p>
            </a>
        </li>
    </ul>
</li>